/node_modules
.windsurf
.trae
.qoder
.opencode
.roo
.kiro
.codebuddy
.opencode
.kiro
.github
.gemini
.cursor
.continue
.codex
.codebuddy
.claude
.agent
.env
.next
# Sentry Config File
.env.sentry-build-plugin
